<p id="notice"><%= notice %></p>

<h1>Appliances</h1>

<% @appliances.each do |appliance| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "appliances/appliance", appliance: appliance %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Appliance', new_appliance_path %>
