<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<% project_status_options = ["In Progress", "Not Yet Started", "Completed"]%>

<% project_status_options.each do |status_option| %>
  <h5><%= status_option %></h5>
  <% @projects.where({ :status => status_option }).each_slice(3) do |array_of_3_ip_projects| %>
    <div class="row mb-3">
      <% array_of_3_ip_projects.each do |project| %>
        <div class="col-md-2 offset-md-1">
          <%= render "projects/project", project: project %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
